# AAA First Notebook

## Introduction

This notebook showcases my Jupyterlite asssignment

## List of Data Science Languages

1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++
7. Julia

## List of Data Science Libraries

1. Panda
2. NumPy
3. Scikit-learn
4. Seaborn
5. Matplotlib

### Table of Categories of Data Science Tools with Examples

| Category of Data Science Tool       | Example        |
|-------------------------------------|----------------|
| Data Management                     | MySQL          |
| Data Integration and Transformation | Apache Airflow |
| Data Visualisation                  | Tableau        |
| Model Building                      | R              |
| Model Deployment                    | KubeFlow       |
| Model Monitoring and Assessment     | Prometheus     |

### Arithmetic Expression Examples

- **Addition (+)** → e.g., `5 + 3 = 8`  
- **Subtraction (-)** → e.g., `9 - 2 = 7`  
- **Multiplication (*)** → e.g., `5 * 2 = 10`  
- **Division (/)** → e.g., `6 / 3 = 2.0`  
- **Exponentiation (**)** → e.g., `3 ** 3 = 27`

In [3]:
# Multiplication
multiply_result = 3 * 6
print("3 * 6 =", multiply_result)

# Addition
add_result = 12 + 14
print("12 + 14 =", add_result)

3 * 6 = 18
12 + 14 = 26

In [4]:
# Convert minutes to hours

minutes = 195
hours = minutes / 60

print(minutes, "minutes is equal to", hours, "hours")

195 minutes is equal to 3.25 hours

### List of my Objectives in this Assignment

- To create a markdown cell with the title of the notebook
- To create a markdown cell for an introduction
- To create a markdown cell to list data science languages
- To create a markdown cell to list data science libraries
- To create a markdown cell with a table of Data Science tools
- To create a markdown cell introducing arithmetic expression examples
- To create a code cell to multiply and add numbers
- To create a code cell to convert minutes to hours
- To create a markdown cell introducing Create a markdown cell to indicate the Author’s name
- To share my notebook through GitHub
- To take a screenshot of the first page of the notebook

## Author

**Name:** Ayomide Anthony Adeyemi  
**Date:** August 30, 2025